{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
Question page
{% endblock %}

{% block beforeContent %}
{{ backLink({
"href": "/patient/gp-search",
"text": "Back"
}) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1>
            Booking Summary
        </h1>

        <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Time Slot
                </dt>
                <dd class="nhsuk-summary-list__value">
                    15/10/2025 10:00
                </dd>

                <dd class="nhsuk-summary-list__actions">

                    <a href="/patient/booking">
                        Change<span class="nhsuk-u-visually-hidden"> Time Slot</span>
                    </a>

                </dd>

            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    GP Practitioner
                </dt>
                <dd class="nhsuk-summary-list__value">
                    Dr. Olivia Johnson
                </dd>

                <dd class="nhsuk-summary-list__actions">

                    <a href="/patient/gp-search">
                        Change<span class="nhsuk-u-visually-hidden"> GP Practitioner</span>
                    </a>

                </dd>

            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                Health Issue
                </dt>
                <dd class="nhsuk-summary-list__value">
                    I have been experiencing severe headaches for the past two weeks. The pain is usually concentrated on one side of my head and is often accompanied by nausea and sensitivity to light and sound. The headaches typically last for several hours and sometimes even a whole day. Over-the-counter pain medications provide little relief. I have also noticed that the headaches are more frequent and intense when I am stressed or have not had enough sleep.
                </dd>

                <dd class="nhsuk-summary-list__actions">

                    <a href="/patient/describesymtoms">
                        Change<span class="nhsuk-u-visually-hidden"> Health Issue</span>
                    </a>

                </dd>

            </div>

        </dl>

        <a href="/patient/confirmation-page" class="nhsuk-button">
            Confirm and Book
        </a>

    </div>
</div>

{% endblock %}