{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
Question page
{% endblock %}

{% block beforeContent %}
{{ backLink({
"href": "#",
"text": "Back"
}) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <h1>Describe your symptoms</h1>
        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="example">
            </label>
            <div class="nhsuk-hint" id="example-hint">
            </div>
            <textarea class="nhsuk-textarea" id="symptom" name="symptom" rows="5" aria-describedby="example-hint"></textarea>
        </div>

    </div>
</div>

<a href="/patient/gp-search" class="nhsuk-button">
    Confirm
</a>

{% endblock %}