{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    "href": "#",
    "text": "Back"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-form-group">

    <table class="nhsuk-table">
        <caption class="nhsuk-table__caption">Today's agenda</caption>
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Time
            </th>
            <th role="columnheader" class="" scope="col">
              Patient
            </th>
            <th role="columnheader" class="" scope="col">
              Notes
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
            <!-- 9 am appointments -->
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">9:00am</td>
            <td class="nhsuk-table__cell ">Jenna</td>
            <td class="nhsuk-table__cell ">N/A</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">9:15am</td>
            <td class="nhsuk-table__cell ">John</td>
            <td class="nhsuk-table__cell ">N/A</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">9:30am</td>
            <td class="nhsuk-table__cell ">John</td>
            <td class="nhsuk-table__cell ">N/A</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">9:45am</td>
            <td class="nhsuk-table__cell ">Ed</td>
            <td class="nhsuk-table__cell ">N/A</td>
          </tr>

            <!-- 10 am appointments -->
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">10:00am</td>
            <td class="nhsuk-table__cell ">Max</td>
            <td class="nhsuk-table__cell ">N/A</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">10:15am</td>
            <td class="nhsuk-table__cell ">N/A</td>
            <td class="nhsuk-table__cell ">N/A</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">10:30am</td>
            <td class="nhsuk-table__cell ">N/A</td>
            <td class="nhsuk-table__cell ">N/A</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">10:45am</td>
            <td class="nhsuk-table__cell ">Paul</td>
            <td class="nhsuk-table__cell ">N/A</td>
          </tr>
        </tbody>
      </table>
  
  </div>

  {{ button({
    "text": "Continue",
    "id": "btn_submit"
  }) }}

{% endblock %}